*{margin: 0;padding: 0;box-sizing: border-box;list-style-type: none;}
body{overflow-x: hidden;}
header{background-color: black;height: 50px;width: 100vw;}
.menu-site{background-color: blue;height: 50px;width: 1100px;margin: auto;display: flex;}
.logo-imagem{background-color: brown;height: 50px;width: 150px;display: flex;justify-content: center;}
.logo-img1{background-color: burlywood;width: 100px;height: 50px;}
.home-menu{display: flex;justify-content: space-around;width: 100vw;}
.home-nav{}
.home{gap: 50px}
a{color: aliceblue;font-size: 20px;}
.mobile{background-color: coral;height: 50px;width: 100px;text-align: center;display: none;}
.home{display: flex;align-items: center;}
.logo-img2{width: 100px;background-color: cyan;height: 50px;}
.ol-home{height: 300px;background-color: rgb(39, 39, 39);}
@media(max-width:500px){
.mobile{display: block;}
.home{display: none;}
}