*{margin: 0;padding: 0;box-sizing: border-box;list-style-type: none;text-decoration: none;}
body{overflow-x: hidden;overflow-y: hidden;}
header{background-color: rgb(0, 0, 0);height: 80px;width: 100vw;}
.cabecalho-menu{height:40px;background-color: rgb(255, 255, 255);max-width: 1100px;margin: auto;width: 100%;display: flex;align-items: center;}
.logo{height: 30px;width:300px;display: flex;justify-content: center;align-items: center;}
.logo-img{height: 30px;width: 60px;}
.menu{width: 800px;height: 30px;display: flex;justify-content: center;align-items: center;}
.menu ol{display: flex;}
.menu a{padding-left: 30px;padding-right: 30px;font-weight: bolder;text-transform: uppercase;color: rgb(0, 0, 0);}
.cabecalho-pesquisa{height: 40px;;max-width: 1100px;margin: auto;display: flex;align-items: center;}
.loja{width: 300px;height: 40px;display: flex;align-items: center;justify-content:end}
.pesquisa{width: 800px;height: 40px;display: flex;align-items: center;justify-content: center;}
input{width: 80%;height: 30px;}
.botão{width: 100px;height: 30px;border-radius: 10px;background-color: blue;border: 2px solid white;}
/**/
main{height:calc(100vh - 80px); width: 100%;background-image: linear-gradient(to left, rgba(0, 0, 0, 0.972), rgba(0, 47, 255, 0.924));}
.banner{max-width: 1100px;margin: auto;display: flex;height:calc(100vh - 80px)}
.banner-conteudo{width: 50%;flex-direction: column;display: flex;gap: 30px;justify-content: center;}
.banner-celular{width: 50%;height: auto;display: flex;justify-content: center;align-items: center;}
.imagem{height: 70%;display: flex;justify-content: center;}
.banner-titulo{text-align: center;font-size: 30px; font-family: 'Raleway';color: chocolate;font-weight: bold;height: auto;}
.banner-sub{height: auto;}
.imagem{height: 90%;width: 90%;display: flex;align-items: center;align-items: center;}
@media(max-width:900px){
    nav{position: absolute;z-index:calc(100vh - 80px);background-color: rgb(194, 194, 194);width: 70%;display: none;}
    input{width: 80%;height: 25px;}
.botão{width: 100px;height: 25px;border-radius: 10px;background-color: blue;border: 2px solid white}
.banner-conteudo{width: 50%;height: 100%;flex-direction: column;display: flex;gap: 20px;margin-top: inherit;justify-content: center;}
.banner-celular{width: 50%;height: 100%;display: flex;justify-content: center;align-items: center;}
.banner-titulo{text-align: center;font-size: 20px; font-family: 'Raleway';color: chocolate;font-weight: bold;height: auto;}
.banner-sub{font-size: 10px;height: auto;}
.banner-botão{height: auto;}
}
